@import '../../variables';
@import '../../mixins';

.play-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .sudoku-table {
    tbody, tr, td {
      border: 1px solid black;
    }
    
    td {
      text-align: center;
      font-size: map-get($font-sizes, sudoku-nums);
      width: 50px;
      height: 50px;
    }

    .preffiled {
      background-color: #E3E3E3;
    }

    .notFilled:hover {
      background-color: #97fcff;
    }

    .selected {
      background: #fff263;
    }
  }

  .value-buttons {
    display: flex;

    .value-btn {
      font-size: map-get($font-sizes, sudoku-nums);
      margin: 10px 15px;
      background-color: #97fcff;
      border: none;
      padding: 5px 10px;
      text-align: center;
      border-radius: 5px;
    }

    .value-btn:hover {
      background-color: #ff7563;
    }
  }
}