@import '../../variables';
@import '../../mixins';

.play-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: #f5f5f5;

  .sudoku-table {
    border-collapse: collapse;
    
    tbody, tr, td {
      border: 1px solid #1A1A1A;
    }
    
    td {
      text-align: center;
      font-size: map-get($font-sizes, sudoku-nums);
      width: 50px;
      height: 50px;
      max-width: 50px;

      .cell-note {
        padding: 0 3px;
        font-size: 0.6em;
        color: gray;
        overflow-wrap: break-word;
        letter-spacing: 1px;
      }
    }

    .prefilled {
      background-color: #E3E3E3;
    }

    .notFilled {
      color: #1A1A1A;
    }

    .selected {
      background: #96b0ff;
    }

    .edge-horizontal {
      border-left: 3px solid;
    }

    .edge-vertical {
      border-top: 3px solid;
    }
  }

  .value-buttons {
    display: flex;
    margin: 20px 0;

    .value-btn {
      font-size: map-get($font-sizes, sudoku-value-menu);

      flex: 1 1 auto;
      margin: 10px;
      padding: 18px;
      border: 1px solid #1A1A1A;
      text-align: center;
      position: relative;
      overflow: hidden;
      color: #1A1A1A;

      .value {
        padding-bottom: 7px;
      }

      .howManyLeft {
        font-size: 0.65em;
        margin: 0;
        padding: 0;
        color: #585858;
      }
    }

    .value-btn-selected {
      background-color: #96b0ff;
    }
  }

  .btn-section {
    display: flex;
}

  .button {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    margin: 10px;
    padding: 20px;
    border: 1px solid #1A1A1A;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #1A1A1A;

    &:after {
      position: absolute;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      content: "";
      width: 0;
      left: 50%;
      bottom: 0;
      height: 3px;
      background: #96b0ff;
    }
    
    &:hover {
      cursor: pointer;
    }
    
    &:hover:after {
      width: 100%;
      left: 0;
    }
    
    &:after {
      right: 0;
      left: auto;
    }
  }

  .noting {
    background-color: #96b0ff;
    color: black;
  }

}



