@import '../../variables';
@import '../../mixins';

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .counter-num {
    @include title;
    text-shadow: 0px 0px 3px rgba(0, 2, 0, 0.79);
    margin: 0;
    max-width: 90vw;
    word-break: break-all;
  }

  .counter-note {
    @include regular-text;
    margin: 10px;

    @media only screen and (max-width: map-get($breakpoints, mobile)) {
      max-width: 90vw;
    }
  }
}