@import '../color_scheme_dark';
@import '../variables';
@import '../mixins';

$image_height: 500px;

.text_section_container {
  margin-bottom: $component_margin_bottom;

  .text_section_wrapper {
    margin: 0 13vw;
    display: flex;
    flex-direction: row;
    justify-content: center; // Horizontally
    align-items: center; // Vertically

    .rectangle {
      margin-right: 8vh;
      flex-shrink: 0; // Size of the rectangle will not change
      height: $image_height;
      width: $line-size;
      background: linear-gradient(to top, $fancy-color-1 0%, $fancy-color-2 100%);
    }
  
    .text_half {
      color: $text-primary;
      width: 50%;
      
      .text_section_title {
        @include clean-element;
        font-family: map-get($font-families, section-title);
        font-size: map-get($font-sizes-desktop, section-title);
      }
  
      .text_section_subtitle {
        color: $text-secondary;
        font-family: map-get($font-families, sub-title);
        font-weight: map-get($font-weights, regular);
      }

      .text {
        font-family: map-get($font-families, regular-text);
      }
    }

    img {
      margin-left: 5vw;
      height: auto;
      width: 35vw;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .text_section_container {
    .text_section_wrapper {
      flex-direction: column;
      .rectangle {
        display: none;
      }

      .text_half {
        order: 1;
        width: 70vw;
        text-align: center;

        .text_section_title {
          font-size: map-get($font-sizes-mobile, title);
        }
      }

      .img_half {
        @include clean-element;
        order: 0;
        width: 40vw;
        height: auto;
        margin-bottom: 5vw;
      }
    }
  }
}

@media only screen and (max-width: map-get($breakpoints, tablet-mobile)) {
  .text_section_container {
    .text_section_wrapper {
      .text_half {
        .text_section_title {
          font-size: map-get($font-sizes-tablet, title);
        }
      }
    }
  }
}

@media only screen and (max-width: map-get($breakpoints, mobile)) {
  .text_section_container {
    .text_section_wrapper {
      .text_half {
        .text_section_title {
          font-size: map-get($font-sizes-mobile, title);
        }
      }
    }
  }
}