@import '../variables';
@import '../mixins';


.text_section_container {
  margin-bottom: $component_margin_bottom;
  display: flex;
  // justify-content: center;

  .text_half_container {
    max-width: 50%;

    @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
      max-width: 100%;
    }

    .text_half_wrapper {
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0 8vw;


      @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
        padding: 0 10vw;
      }
      
      .rectangle {
        width: $line-size;
        margin-right: 50px;
        flex-shrink: 0;
        height: 100%;

        @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
          display: none;
        }
      }
      
      .text_half {

        .text_section_title {
          @include clean-element;
          font-family: map-get($font-families, section-title);
          font-size: map-get($font-sizes-desktop, section-title);
        }
    
        .text_section_subtitle {
          font-family: map-get($font-families, sub-title);
          font-weight: map-get($font-weights, regular);
        }
  
        .text {
          font-family: map-get($font-families, regular-text);
          font-weight: map-get($font-weights, regular);
        }
      }
    }
  }

  .img_half_container {
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
      max-width: 100%;
    }

    .img_half {
      width: 80%;
      height: auto;

      @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
        width: 70vw;
      }
      
    }
  }
}


.full_page_width {
  @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
    min-width: 100%;
  }
}


.top {
  @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
    align-items: center;
    flex-direction: column-reverse;
  }
}

.bot {
  @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
    align-items: center;
    flex-direction: column;
  }
}