@import '../variables';
@import '../mixins';


.text_section_container {
  margin-bottom: $component_margin_bottom;
  width: 100%;
  display: flex;

  .text_half_container {
    width: 50%;
    margin: 30px 0;
    // background: red;
    @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
      width: 100%;
    }

    .text_half_wrapper {
      // background: green;
      width: 75%;
      margin: 0 auto;
      display: flex;
      height: 100%;
      align-items: center;

      

      .rectangle {
        width: $line-size;
        margin-right: 50px;
        flex-shrink: 0;
        height: 500px;

        @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
          display: none;
        }
      }
      
      .text_half {

        .text_section_title {
          @include clean-element;
          font-family: map-get($font-families, section-title);
          font-size: map-get($font-sizes-desktop, section-title);
        }
    
        .text_section_subtitle {
          font-family: map-get($font-families, sub-title);
          font-weight: map-get($font-weights, regular);
        }
  
        .text {
          font-family: map-get($font-families, regular-text);
          font-weight: map-get($font-weights, regular);
        }
      }
    }
  }

  .img_half_container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
      width: 75%;
    }

    .img_half {
      width: 85%;
      height: auto;
      
      @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
        width: 75vw;
      }
      
    }
  }
}


.full_page_width {
  @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
    width: 100vw !important;
  }
}


.top {
  @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
    align-items: center;
    flex-direction: column-reverse;
  }
}

.bot {
  @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
    align-items: center;
    flex-direction: column;
  }
}