@import '../../variables';
@import '../../mixins';

.categories-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  .break {
    flex-basis: 100%
  }
}