@import '../color_scheme_dark';
@import '../variables';
@import '../mixins';

.card-container {
  @include clean-element;
  float: left;
  max-width: 250px;
  margin: 20px;
  border-radius: 20px;
  background-color: $background-card;
  padding-top: 50px;
  padding-bottom: 20px;
  // box-shadow;
    
  .card-img-section {
    @include clean-element;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .img {
      @include clean-element;
      width: 180px;
      height: 180px;
      margin: 0 auto;
      border-radius: 50%;
      background-image: linear-gradient(to right bottom, $fancy-color-1, $fancy-color-2);
    }
  }
  
  .card-text-section {
    @include clean-element;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat;
    color: $text-primary;

    .card-heading {
      @include clean-element;
      margin: 30px 0;
      font-weight: map-get($font-weights, regular);
      font-size: map-get($font-sizes-desktop, heading1);
    }
    .card-text {
      @include clean-element;
      width: 70%;
      text-align: center;
    }
  }
  
  .card-btn {
    @include clean-element;
    position: relative;
    display: block;
    cursor: pointer;
    width: 170px;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(to right, $fancy-color-1, $fancy-color-2);
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }
  
}