

// Montserrat Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

// Font stuffs
$font-weights: (
  "regular": 400,
  "bold": 700
);

$font-sizes: (
  "normal": 1.2em,
  "sub-text": 0.8em
);

$font-sizes-desktop: (
  "title": 6em,
  "quote": 2.5em,
  "quote-author": 0.8em,
  "heading1": 2em,
  "section-title": 4em
);

$font-sizes-tablet: (
  "title": 5.5em,
  "quote": 1.2em,
  "quote-author": 0.8em
);

$font-sizes-mobile: (
  "title": 4em,
  "quote": 1em,
  "quote-author": 0.5em
);

// Some sizes
$line-size: 15px;

// Positioning
$component_margin_bottom: 10vh;

// Breakpoints
$breakpoints: (
  "tablet": 1024px,
  "tablet-mobile": 790px,
  "mobile": 530px
);