

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

$font-weights: (
  "regular": 400,
  "bold": 700
);

$font-sizes: (
  "normal": 1.2em,
  "sub-text": 0.8em
);

$font-sizes-desktop: (
  "title": 6em,
  "quote": 2.5em,
  "quote-author": 0.8em,
  "heading1": 2em,
  "section-title": 4em
);

$font-sizes-tablet: (
  "title": 5.5em
);

$font-sizes-mobile: (
  "title": 4em
);