@import '../../variables';
@import '../../mixins';


.text_section_container {
  position: relative;
  display: flex;

  .text_half_container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
      width: 100%;
    }

    .text_half_wrapper {
      display: flex;
      align-items: center;

      .rectangle {
        width: $line-size;
        margin-right: 50px;
        flex-shrink: 0;
        height: 500px;

        @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
          display: none;
        }
      }
      
      .text_half {
        .text_section_title {
          @include clean-element;
          font-family: map-get($font-families, section-title);
          font-size: map-get($font-sizes-desktop, section-title);
        }
    
        .text_section_subtitle {
          font-family: map-get($font-families, sub-title);
          font-weight: map-get($font-weights, regular);
        }

        .text {
          font-family: map-get($font-families, regular-text);
          font-weight: map-get($font-weights, regular);
        }
      }
    }

    

  }

  .img_half_container {
    display: flex;
    width: 50%;

    @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
      width: 100%;
    }

    .img_half {
      margin: 5vh 0;
    }
  }
}


.left {
  flex-direction: row-reverse;
}

.right {
  flex-direction: row;
}

.top {
  @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
    flex-direction: column-reverse;
  }
}

.bot {
  @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
    flex-direction: column;
  }
}

@mixin justify_content_small_desktop {
  @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
    justify-content: center;
  }
}


.to_edge_right_full_screen_mobile {
  justify-content: flex-end;
  @include justify_content_small_desktop()
}

.to_edge_left_full_screen_mobile {
  justify-content: flex-start;
  @include justify_content_small_desktop()
}

.img_center {
  justify-content: center;
}

.img_on_the_left_from_text {
  padding-left: 3vw;
  padding-right: 10vw;

  @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
    padding: 0 15vw;
  }

}

.img_on_the_right_from_text {
  padding-left: 10vw;
  padding-right: 3vw;

  @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
    padding: 0 15vw;
  }
}

.img_full_width_mobile {
  max-width: 90%;
  height: auto;

  @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
    min-width: 100%;
  }
}

.img_regular_width_mobile {
  max-width: 90%;
  height: auto;

  @media only screen and (max-width: map-get($breakpoints, small-desktop)) {
    max-width: 70%;
    min-width: 65%;
  }
}