

// Montserrat Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

// Font stuffs
$font-families: (
  "title": Montserrat,
  "sub-title": Montserrat,
  "regular-text": Montserrat,
  "quote": Montserrat,
  "quote-author": Montserrat,
  "heading1": Montserrat,
  "section-title": Montserrat,
  "sub-text": Montserrat,
  "btn": Montserrat,
  "footer": Montserrat
);


$font-weights: (
  "regular": 400,
  "bold": 700
);

$font-sizes: (
  "regular": 1em,
  "sub-text": 0.8em,
  "sudoku-nums": 1.5em,
  "sudoku-value-menu": 1.6em
);

$font-sizes-desktop: (
  "title": 6em,
  "quote": 2.5em,
  "quote-author": 0.8em,
  "heading1": 2em,
  "section-title": 4em
);

$font-sizes-tablet: (
  "title": 5.5em,
  "quote": 1.2em,
  "quote-author": 0.8em
);

$font-sizes-mobile: (
  "title": 4em,
  "quote": 0.9em,
  "quote-author": 0.7em,
  "section-title": 3em,
  "subtitle": 1.5em,
  "text": 1em
);

// Some sizes
$line-size: 15px;

// Positioning
$component_margin_bottom: 60px;

// Breakpoints
$breakpoints: (
  "small-desktop": 1300px,
  "tablet": 1024px,
  "tablet-mobile": 790px,
  "mobile": 530px
);