

// Montserrat Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

$font-families: (
  "title": Montserrat,
  "sub-title": Montserrat,
  "regular-text": Montserrat,
  "quote": Montserrat,
  "quote-author": Montserrat,
  "heading1": Montserrat,
  "section-title": Montserrat,
  "sub-text": Montserrat,
  "btn": Montserrat,
  "footer": Montserrat
);

$font-weights: (
  "light": 200,
  "regular": 400,
  "bold": 700
);

$font-sizes: (
  "sudoku-nums": 1.5em,
  "sudoku-value-menu": 1.6em
);

// Some sizes
$line-size: 15px;

// Breakpoints
$breakpoints: (
  "small-desktop": 1300px,
  "tablet": 1024px,
  "tablet-mobile": 790px,
  "mobile": 530px
);