@import '../../variables';
@import '../../mixins';

html {
  scroll-behavior: smooth;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.cards-container {
  background: url("../../../images/bg_cards.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: auto;

  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20vw;
    padding-right: 20vw;
    justify-content: center;   
  }

  .note {
    text-align: center;
    color: #999;
  }
}

@media only screen and (max-width: 1390px) {
  .cards-container {
    background-image: none;
  }
}