@import '../variables';
@import '../mixins';

.quote-container {
  width: 100%;
  margin-bottom: $component_margin_bottom;

  .figure-container {
    font-weight: map-get($font-weights, bold);
    font-size: map-get($font-sizes-desktop, quote);
    text-align: center;
    width: 70%;
    display: block;
    margin: 0 auto;

    .quote-text {
      @include clean-element;
      font-style: italic;
      font-family: map-get($font-families, quote);
      font-size: map-get($font-sizes, quote);
    }

    .quote-author {
      margin-top: 2vh;
      font-family: map-get($font-families, quote-author);
      font-size: map-get($font-sizes-desktop, quote-author);
    }
  }

  .rectangle {
    margin: 2vh auto;
    height: $line-size;
    flex-shrink: 0;
    width: 40vh;
  }
}

@media only screen and (max-width: map-get($breakpoints, tablet-mobile)) {
  .quote-container {
    .figure-container {
      .quote-text {
        font-size: map-get($font-sizes-tablet, quote)
      }

      .quote-author {
        font-size: map-get($font-sizes-tablet, quote-author)
      }
    }
  }
}

@media only screen and (max-width: map-get($breakpoints, mobile)) {
  .quote-container {
    .figure-container {
      .quote-text {
        font-size: map-get($font-sizes-mobile, quote)
      }

      .quote-author {
        font-size: map-get($font-sizes-mobile, quote-author)
      }
    }
  }
}