@import '../../variables';
@import '../../mixins';

.container {
  @include box-shadow;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 35px;

  @media only screen and (max-width: map-get($breakpoints, mobile)) {
    padding: 35px 0;
  }

  h1 {
    @include heading1;
  }

  .levels-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;

    a {
      @include btn;
    
      .button {
        @media only screen and (max-width: map-get($breakpoints, mobile)) {
          min-width: 200px;
        }
      }
    }
  }
}