@import '../../variables';
@import '../../mixins';

.quote-container {
  width: 100%;

  .figure-container {
    text-align: center;
    width: 70%;
    display: block;
    margin: 0 auto;

    .quote-text {
      @include clean-element;
      @include quote;
      letter-spacing: 3px;
      text-transform: uppercase;
    }

    .quote-author {
      @include quote-author;
      margin-top: 15px;
    }
  }

  .rectangle {
    margin: 20px auto 0 auto;
    height: $line-size;
    flex-shrink: 0;
    width: 20vw;

    @media only screen and (max-width: map-get($breakpoints, tablet-mobile)) {
      width: 60vw;
    }
  }
}
