// $color1a: #BA1EED;
// $color1b:   #713FDA;
$color1a:   #FF1F1F;
$color1b:   #FFCE1F;

$color2a:   #FFE91F;
$color2b:   #1FFFA1;

$color3a:   #1FFFBC;
$color3b:   #1F93FF;

$color4a:   #1F50FF;
$color4b:   #741FFF;

$color5a:   #C51FFF;
$color5b:   #FF1FF6;

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  position: fixed;

  .elements {
    a {
      text-transform: uppercase;
      position: relative;
      text-align: center;
      // color: white;
      text-decoration: none;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bold;
      padding: 10px 20px;
    }
  }
}

@media screen and (min-width: 768px) {
  nav {
    width: 100%;
    height: 60px;
  
    .navbar-toggle {
      display: none;
    }
  
    .elements {
      position: relative;
      display: flex;
    }
  
    .elements a {
      text-transform: uppercase;
      position: relative;
      width: 25%;
      transition: 0.2s ease color;
    }
    
    .elements a:before, .elements a:after {
      content: "";
      position: absolute;
      border-radius: 50%;
      transform: scale(0);
      transition: 0.2s ease transform;
    }
    
    .elements a:before {
      top: 0;
      left: 10px;
      width: 6px;
      height: 6px;
    }
    
    .elements a:after {
      top: 5px;
      left: 18px;
      width: 4px;
      height: 4px
    }
    
    .elements a:nth-child(1):before {
      background-color: $color1a;
    }
    
    .elements a:nth-child(1):after {
      background-color: $color1b;
    }
    
    .elements a:nth-child(2):before {
      background-color: $color2a;
    }
    
    .elements a:nth-child(2):after {
      background-color: $color2b;
    }
    
    .elements a:nth-child(3):before {
      background-color: $color3a;
    }
    
    .elements a:nth-child(3):after {
      background-color: $color3b;
    }
  
    .elements a:nth-child(4):before {
      background-color: $color4a;
    }
    
    .elements a:nth-child(4):after {
      background-color: $color4b;
    }

    .elements a:nth-child(5):before {
      background-color: $color5a;
    }
    
    .elements a:nth-child(5):after {
      background-color: $color5b;
    }
    
    #indicator {
      position: absolute;
      left: 5%;
      bottom: 0;
      width: 30px;
      height: 3px;
      border-radius: 5px;
      transition: 0.2s ease left;
    }
    
    .elements a:hover:before, .elements a:hover:after {
      transform: scale(1);
    }
    
    .elements a:nth-child(1):hover ~ #indicator {
      background: linear-gradient(130deg, $color1a, $color1b);
    }
    
    .elements a:nth-child(2):hover ~ #indicator {
      left: 25%;
      background: linear-gradient(130deg, $color2a, $color2b);
    }
    
    .elements a:nth-child(3):hover ~ #indicator {
      left: 48%;
      background: linear-gradient(130deg, $color3a, $color3b);
    }
  
    .elements a:nth-child(4):hover ~ #indicator {
      left: 70%;
      background: linear-gradient(130deg, $color4a, $color4b);
    }

    .elements a:nth-child(5):hover ~ #indicator {
      left: 89%;
      background: linear-gradient(130deg, $color5a, $color5b);
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    .elements {
      display: none;
      color: white;
    }

    .navbar-toggle {
      position: absolute;
      top: 10px;
      left: 88vw;
      right: 10px;
      cursor: pointer;
      color: white;
      font-size: 24px;
    } 

    .active {
      display: flex;
      flex-direction: column;
    }
  }
  
  .navActive {
    width: 100vw;
    height: 100vh;
    background: #1A1A1A;
  }
}