@import '../../variables';
@import '../../mixins';

.landing_page_container {
  position: relative;
  height: 100vh; 
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 5;
  margin-bottom: $component_margin_bottom;

  .main_title {
    @include clean-element;
    position: absolute;
    top: 35%;
    left: 10%;
    font-family: map-get($font-families, title);
    font-size: map-get($font-sizes-desktop, title);
    font-weight: map-get($font-weights, bold);
  }

  .scroll-down_container {
    position: relative;
    top: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .sub_text {
      @include clean-element;
      font-family: map-get($font-families, sub-text);
      font-size: map-get($font-sizes, sub-text);
      font-weight: map-get($font-weights, regular);
      text-align: center;
      margin-bottom: 20px;
    }
  }
}

// tablet
@media only screen and (max-width: map-get($breakpoints, tablet)) {
  .landing_page_container {
    .main_title {
      right: 10%;
      text-align: center;
    }
  }
}

// tablet -> mobile
@media only screen and (max-width: map-get($breakpoints, tablet-mobile)) {
  .landing_page_container {
    .main_title {
      top: 35%;
      font-size: map-get($font-sizes-tablet, title);
    }
  }
}

// mobile
@media only screen and (max-width: map-get($breakpoints, mobile)) {
  .landing_page_container {
    .main_title {
      top: 40%;
      font-size: map-get($font-sizes-mobile, title);
    }
  }
}